AZURE_OPENAI_API_KEY= # replace with your Azure OpenAI API Key

AZURE_OPENAI_ENDPOINT= # replace with your Azure OpenAI Endpoint 

AZURE_OPENAI_DEPLOYMENT= #Create a deployment for the gpt-4o-realtime-preview model and place the deployment name here. You can name the deployment as per your choice and put the name here.

#You don't need to change this unless you are willing to try other versions.
AZURE_OPENAI_CHAT_DEPLOYMENT_VERSION=2024-10-01-preview

# Your Azure Speech Service subscription key
AZURE_SPEECH_KEY=

# Your Azure Speech Service region
AZURE_SPEECH_REGION=

# Your Dev Tunnel base URL
BASE_URL=

# Azure Communication Services (ACS) configuration
ACS_CONNECTION_STRING= # replace with your Azure Communication Services connection string
ACS_SOURCE_PHONE_NUMBER= # replace with your ACS source phone number (e.g +1234567890)